* {
    margin: 0 auto;
}

picture {
    display: flex;
    flex-direction: column;
}
h1 {
    color: white;
    text-align: center;
    padding: 1rem;
}
img {

    padding: 1rem;
}

body {
    background-color: black;
}